.container {
    margin-top: 6rem;
    margin-left: 30rem;
}

.btn {
    margin-top: 0.7rem;
    background-color: #ff652f;
    color: white;
}

.inputLogin {
    font-size: 12pt;
    font-weight: 500;
}
